Repository Leafwing-Studios/leafwing-input-manager, pull requests merged in 2023-06, with the labels that each got.

#355 Do not trigger mouse actions on button click
  RELEASES.md
  src/systems.rs
Labels: enhancement

#358 Prepare for version 0.9.3
  Cargo.toml
  RELEASES.md
Labels: release

#361 Mouse position
  RELEASES.md
  examples/mouse_position.rs
  examples/ui_driven_actions.rs
  src/action_state.rs
  src/systems.rs
  tests/integration.rs
Labels: usability, example, breaking-change

#363 Contributors should update RELEASES.md
  CONTRIBUTING.md
Labels: meta
