Repository Leafwing-Studios/leafwing-input-manager, pull requests merged in 2023-11, with the labels that each got.

#408 Update for Bevy 0.12
  Cargo.toml
  RELEASES.md
  examples/binding_menu.rs
  examples/send_actions_over_network.rs
  macros/Cargo.toml
  src/input_streams.rs
  src/plugin.rs
  src/systems.rs
  tests/gamepad_axis.rs
Labels: dependencies, release

#409 Add back `bevy_egui` to LWIM 0.11
  Cargo.toml
  RELEASES.md
  src/plugin.rs
  src/systems.rs
Labels: dependencies

#410 Fix `ToggleActions` from releasing other action's inputs
  RELEASES.md
  src/plugin.rs
Labels: bug

#400 Remove petitset dependency
  Cargo.toml
  README.md
  RELEASES.md
  examples/arpg_indirection.rs
  examples/consuming_actions.rs
  examples/mouse_motion.rs
  examples/mouse_position.rs
  examples/mouse_wheel.rs
  src/action_state.rs
  src/axislike.rs
  src/buttonlike.rs
  src/clashing_inputs.rs
  src/dynamic_action.rs
  src/input_map.rs
  src/input_streams.rs
  src/lib.rs
  src/plugin.rs
  src/user_input.rs
  tests/clashes.rs
  tests/gamepad_axis.rs
  tests/integration.rs
  tests/mouse_motion.rs
  tests/mouse_wheel.rs
Labels: usability, performance, breaking-change, controversial

#413 Adding an example that uses an ActionState Resource
  examples/action_state_resource.rs
Labels: example

#414 Adding an examples that implements a twin stick controller, with MKB/gamepad input
  examples/twin_stick_controller.rs
Labels: example
